.env.local
.vscode/
.DS_Store
bin/*

env.sh

.env
__pycache__/
.pyc
*.pyc
*.pyo
env/
db.sqlite3
*/db.sqlite3

staticfiles
staticfiles/
*/staticfiles/
core/staticfiles/

.idea
.env
*.pyc
.venv
venv/
.pdf

core/settings/environments/local.py
.archiver_shadow/
.snapshots/



ebook-test/*

db.sqlite3

core/media/*

core/__pycache__/*
